.content {
    grid-area: content;
    background-color: darkkhaki;
}


.profile{
    display: flex;
    margin: 10px;
}

.profile img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.user{
    margin: 0 10px;
    display: block;
}

